@use 'Varibles-Funciones/mixins' as *;
@use 'Varibles-Funciones/variables' as *;

// sass --watch main.scss:../CSS/main.css

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #F3E8DC !important;
}

.footer__edit {
    background-color: $color-6;
    border-radius: 50px 50px 0 0;
    .footer__edit__ul {
            margin: 0;
            padding: 0;
        h4 {
            font-size: 1.2rem;
            color: #fff;
        }
        .footer__edit__ul__li {
            list-style: none;
            a {
                i {
                    margin-right: 15px;
                }
                font-size: 13px;
                color: #999;
                text-decoration: none;
                display: inline-block;
                transition: all;

                &:hover {
                    color: #fff;
                    transform: scaleX(1.1) !important;
                }
            }
        }

        @media (max-width: 575.98px) {
            text-align: center;
        }
    }
    hr {
        margin: 2vw 0;
        color: #fff;
    }
    .footer__edit__last_div {
        font-size: 13px;
        padding-bottom: 2vw;
        color: #999;
        text-align: center;
    }
}

.aboutUs__edit {
    width: 100%;
    h2 {
        @extend %font-subtittle;
    }
    .container__about {
        width: 100%;
        padding: 3vw 8vw;
        .img__about {
            margin: auto;
            width: 600px;
            overflow: hidden;
            object-fit: cover;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                cursor: crosshair;

                @extend %crooshair-effect;
            }
        }
    }
    
}

.whyus__edit {
    width: 100%;
    background-color: #fff;
    padding: 4vw 0vw;
    
    .div__1 {
        text-align: start;
        padding: 3vw 8vw;
        padding-bottom: 1vw;
        h2 {
            @extend %font-subtittle;
        }
        img {
            width: 100px;
            border-radius: 50%;

            @extend %crooshair-effect;
        }
    }
    .div__2 {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 575.98px) {
            display: inline-block;
        }
        div {
            padding: 3vw;
            .fs__p {
                font-size: 14px;
            }
            .i__edit__us {
                font-size: 5rem;
                opacity: 0;
                transform: translateY(50px);
                transition: all 1.5s ease;

                @extend %crooshair-effect;
            }
            @media (max-width: 575.98px) {
                text-align: center;
            }

            .i__edit__us.show {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

.our__working__edit {
    h2 {
        text-align: center;
        @extend %font-subtittle;
    }
    .txt__subtittle__working {
        padding: 5vw;

    }
    .video__container {
        width: 100%;

        video {
            width: 100%;
        }
    }
}

.resources__edit {
    padding-bottom: 30px;
    h2 {
        text-align: center;
        @extend %font-subtittle;
    }
    hr {
        margin: 0.5vw 0;
    }
    .div__resources {
        padding: 5vw;
        padding-top: 1vw;
        padding-bottom: 1vw;

        @media (max-width: 575.98px) {
            padding: 18px;
        }
    }
    .div__resources__edit {
        @media (max-width: 575.98px) {
            padding: 18px;
        }
    }
    .link-custom {
        font-size: 14px;
        border: 1px solid $color-6;
        border-radius: 5px;
        padding: 15px;
        background-color: $color-6;
        color: #f3f3f3;
        text-decoration: none;
    }
    svg {
        margin-left: 20px;
        font-size: 25px;
        color: #f3f3f3;
    }
    .div__i {
        i {
            color: #333;
            font-size: 6em;

            @extend %crooshair-effect;
        }
    }
    
    
}

.local__edit {
    width: 100%;

    h2 {
        text-align: center;
        @extend %font-subtittle;
    }
    .div__locales {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 675.98px) {
            display: inline-block;
        }
        
        .div__local-1 {
            width: 40%;
            padding: 20px;
            padding-left: 5vw;

            @media (max-width: 675.98px) {
                width: 100%;
            }
        
            select, button, option {
                font-weight: lighter;
                text-align: start;
                width: 100%;
                padding: 10px 20px;
                border:none;
                display: block;
                border-radius: 10px;
                background-color: $color-1;
                color: #f3f3f3;

                cursor: pointer;

                transition: all ease-in-out .5s;
            }
            select:focus {
                border: none;
            }
            button:hover {
                background-color: $color-5;
                color: $color-8;
                font-size: 16px;
            }
        }

        .div__local-2 {
            width: 60%;
            padding: 20px;

            @media (max-width: 675.98px) {
                width: 100%;
            }
            iframe {
                width: 100%;
                height: 400px;
                border-radius: 5px;
                box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
            }
        }
    }
}
.gif__map-edit {
    h1 {
        @extend %font-tittle;
    }
}

.formulario__edit {
    h2 {
        @extend %font-subtittle;
    }
    .form__edit {
        padding: 1vw 20vw;
        .div__edit-form {
            display: block;
            padding: 10px 0;
            label {
                font-weight: normal;
                font-size: 12px;
                color: #333;   
            }
            input, textarea {
                font-size: 15px;
                background-color: #fff;
            }
            input, textarea, button {
                padding: 10px;
                width: 100%;
                border: 1px solid #a4a3a3;
            }
            input:focus, textarea:focus {
                outline: none;
            }
            input, button {
                border-radius: 0 50px 50px 0;
            }
            button {
                background-color: #555;
                color: #fff;
                font-size: 18px;
                font-weight: lighter;
                letter-spacing: 2px;
                text-align: start;

                transition: all ease-out .5s;

                &:hover {
                    background-color: #333;
                }
            }
        }

    }
}

.socialMedia__edit {
    padding: 5vw 20vw;
    h2 {
        @extend %font-subtittle;
    }
    .socialMedia__div__edits {
        h4 {
            font-size: 1.8rem;
        }
        a {
            font-size: 5rem;
            color: $color-8;

            i {
                color: #333;
                @extend %crooshair-effect;                
            }
        }
    }
}