.aboutUs__edit h2, .whyus__edit .div__1 h2, .our__working__edit h2 {
  font-size: 3.1rem;
  text-transform: uppercase;
  color: #252625;
  font-weight: lighter;
  letter-spacing: 3px;
  cursor: crosshair;
}

.aboutUs__edit img, .whyus__edit .div__1 img, .whyus__edit .div__2 div .i__edit__us {
  transition: ease-in-out 0.5s;
  cursor: crosshair;
}
.aboutUs__edit img:hover, .whyus__edit .div__1 img:hover, .whyus__edit .div__2 div .i__edit__us:hover {
  transform: scale(1.1);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #F3E8DC !important;
}

.footer__edit {
  background-color: #252625;
  border-radius: 50px 50px 0 0;
}
.footer__edit .footer__edit__ul {
  margin: 0;
  padding: 0;
}
.footer__edit .footer__edit__ul h4 {
  font-size: 1.2rem;
  color: #fff;
}
.footer__edit .footer__edit__ul .footer__edit__ul__li {
  list-style: none;
}
.footer__edit .footer__edit__ul .footer__edit__ul__li a {
  font-size: 13px;
  color: #999;
  text-decoration: none;
  display: inline-block;
  transition: all;
}
.footer__edit .footer__edit__ul .footer__edit__ul__li a i {
  margin-right: 15px;
}
.footer__edit .footer__edit__ul .footer__edit__ul__li a:hover {
  color: #fff;
  transform: scaleX(1.1) !important;
}
@media (max-width: 575.98px) {
  .footer__edit .footer__edit__ul {
    text-align: center;
  }
}
.footer__edit hr {
  margin: 2vw 0;
  color: #fff;
}
.footer__edit .footer__edit__last_div {
  font-size: 13px;
  padding-bottom: 2vw;
  color: #999;
  text-align: center;
}

.aboutUs__edit .container__about {
  padding: 3vw 8vw !important;
}
.aboutUs__edit img {
  width: 900px;
  object-fit: cover;
}

.whyus__edit {
  width: 100%;
  background-color: #fff;
  padding: 4vw 0vw;
}
.whyus__edit .div__1 {
  text-align: start;
  padding: 3vw 8vw;
  padding-bottom: 1vw;
}
.whyus__edit .div__1 img {
  width: 100px;
  border-radius: 50%;
}
.whyus__edit .div__2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 575.98px) {
  .whyus__edit .div__2 {
    display: inline-block;
  }
}
.whyus__edit .div__2 div {
  padding: 3vw;
}
.whyus__edit .div__2 div .fs__p {
  font-size: 14px;
}
.whyus__edit .div__2 div .i__edit__us {
  font-size: 5rem;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.5s ease;
}
@media (max-width: 575.98px) {
  .whyus__edit .div__2 div {
    text-align: center;
  }
}
.whyus__edit .div__2 div .i__edit__us.show {
  opacity: 1;
  transform: translateY(0);
}

.our__working__edit {
  padding: 5vw 8vw;
}
.our__working__edit h2 {
  text-align: center;
}
.our__working__edit .video__container {
  width: 100%;
  padding: 3vw;
}
.our__working__edit .div__working1 {
  padding: 3vw 8vw;
}
.our__working__edit .div__working1 .div__working1__txt {
  margin-right: 10vw;
}
@media (max-width: 575.98px) {
  .our__working__edit .div__working1 .div__working1__txt {
    margin-right: 0;
  }
}
.our__working__edit .div__working1 .div__working1__img img {
  width: 35vw;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  cursor: crosshair;
}
@media (max-width: 575.98px) {
  .our__working__edit .div__working1 .div__working1__img img {
    margin: 14vw 0 10vw 0;
    width: 80vw;
  }
}
.our__working__edit .div__working1 .link-custom {
  font-size: 14px;
  border: 1px solid #252625;
  border-radius: 5px;
  padding: 15px;
  background-color: #252625;
  color: #f3f3f3;
  text-decoration: none;
}
.our__working__edit .div__working1 svg {
  color: #f3f3f3;
}

/*# sourceMappingURL=main.css.map */
